.activity {
}

.activity-toolbar {
	border-top: lightgray solid 2px;
	border-bottom: lightgray solid 1px;
	padding: 0 10px;
}

.activity-toolbar div.header {
	font-size: 1em !important;
	margin: 0 !important;
	padding-top: 6px !important;
}

.activity-body {
	margin-top: 4px !important;
	max-height: calc(var(--pig-footer-height-opened) - var(--pig-footer-height-closed) - 0.5em)  !important;;
	overflow: auto;
	padding-bottom: 1em !important;
}

.activity-body div.item {
	margin-left: 7px !important;
	margin-right: 4px !important;
	padding-bottom: 1px !important;
	padding-top: 1px !important;
}

.activity-body div.header {
	font-size: 1em;
}

.activity-body div.header span.timestamp {
	color: #888;
	display: inline-block;
	font-size: 0.8em;
	min-width: 72px;
}

.activity-body div.header span.severity {
	font-weight: normal;
}

.activity-body div.description {
	font-style: italic;
	margin-left: 72px;
}

.activity-body div.description.info {
	color: #000000ac !important;
}
.activity-body div.description.debug {
	color: #c19461 !important;
}
.activity-body div.description.warn {
	color: #f800f1 !important;
}
.activity-body div.description.error {
	color: #f10303 !important;
}
