@import "activity.css";
@import "editor.css";
@import "header.css";
@import "project.css";
@import "projects.css";

:root {
	--pig-heading-height: 52px;
	--pig-footer-height-closed: 34px;
	--pig-footer-height-opened: 200px;
	--pig-toolbar-height: 46px;
}

html,
body,
body div#container {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

body {
	padding: 4px;
}

input,
textarea {
	/* todo: I wanted to reduce the amount of padding but it starts messing dropdowns up */
	/*padding: 0.5em 0.5em !important;*/
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}


.pig-application {
	height: 100%;
	overflow: hidden;
}

.pig-body-short, .pig-body-tall {
	overflow: hidden;
	position: absolute;
	top: var(--pig-heading-height);
	width: 100%;
}
.pig-body-short {
	bottom: var(--pig-footer-height-opened);
}
.pig-body-tall {
	bottom: var(--pig-footer-height-closed);
}

.pig-header, .pig-toolbar {
	border-bottom: lightgray solid 2px;
	/* note: header uses overflow property to size container. Toolbars use the toolbar component */
	overflow: auto;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
}
.pig-header {
	padding-top: 10px;
	padding-bottom: 6px;
	position: fixed;
	top: 0;
}
.pig-toolbar {
	/* overflow=visible - this is so that dropdowns inside of a toolbar do not get buried underneath the window below them */
	overflow: visible;
	padding-top: 4px;
	padding-bottom: 4px;
}

.pig-console-closed, .pig-console-opened {
	bottom: 0;
	position: fixed;
	width: 100%;
}
.pig-console-closed {
	height: var(--pig-footer-height-closed);
}
.pig-console-opened {
	height: var(--pig-footer-height-opened);
}

.pig-left {float: left}
.pig-right {float: right}
.pig-clear {clear: both}

.pig-row {
	display: flex;
	flex-wrap: nowrap;
}

.pig-noresize {
	flex-grow: 0;
	flex-shrink: 0;
}

.pig-column-header {
	color: #999;
	font-size: 16px;
	font-weight: bold;
}

.pig-input-anorexic {
	min-width: 5em !important;
	width: 5em;
}

.pig-input-skinny {
	min-width: 8em !important;
	width: 8em;
}
.pig-flex-skinny {
	min-width: 6em !important;
	width: 10em;
}

.pig-input-trim {
	min-width: 9em !important;
	width: 9em;
}
.pig-flex-trim {
	min-width: 8em !important;
	max-width: 12em !important;
}

.pig-input-average {
	min-width: 12em !important;
	width: 12em;
}
.pig-flex-average {
	min-width: 9em !important;
	max-width: 17em !important;
}

.pig-input-chubby {
	min-width: 15em !important;
	width: 15em;
}
.pig-flex-chubby  {
	min-width: 12em !important;
	max-width: 18em !important;
}

.pig-input-fat {
	min-width: 18em !important;
	width: 18em;
}
.pig-flex-fat {
	min-width: 15em !important;
	max-width: 24em !important;
}

.pig-input-url-skinny {
	min-width: 24em !important;
	width: 24em;
}
.pig-flex-url-skinny {
	min-width: 18em !important;
	max-width: 28em !important;
}

.pig-input-url-fat {
	min-width: 28em !important;
	width: 28em;
}
.pig-flex-url-fat {
	min-width: 22em !important;
	max-width: 32em !important;
}


.ui.form textarea {
	resize: none;
}

.ui.table thead th {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.ui.table td {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

