.projects-list {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.projects-project {
	padding-left: 2px !important;
	padding-right: 0 !important;
}

.projects-project-button-bar {
	float: right;
}

.projects-project-delete,
.projects-project-edit,
.projects-project-build,
.projects-project-stop,
.projects-project-run {

}
