.project-body {
	align-items: flex-start;
	display: flex;
	height: calc(100% - var(--pig-toolbar-height));
}

.project-menu {
}

.project-editor {
	height: 100%;
	overflow: auto;
	padding: 1em 2em;
	width: 100%
}

.project-core,
.project-envs,
.project-databases,
.project-models,
.project-proxies {

}

/* turn off width=100% semantic-ui styling */
.project-databases table.ui,
.project-envs table.ui,
.project-models-model-editor table.ui,
.project-models-view-editor table.ui,
.project-proxies table.ui {
	width: auto;
}

.project-core {
	width: 940px;
}

.project-databases > table.ui {
	min-width: 1162px;
}

.project-envs {
}

.project-envs-environments,
.project-envs-variables {
}
.project-envs-environments > table.ui {
	min-width: 940px;
}
.project-envs-variables {
	margin-top: 2.5em;
}
.project-envs-variables > table.ui {
	min-width: 598px;
}

.project-models {
}

.project-models-menu {
	min-width: 255px;
	margin-bottom: 1em;
}

.project-models-menu .ui.table td.active,
.project-models-menu .ui.table tr.active {
	background: #e4f4ff !important;
}

.project-models-menu .ui.selectable.table tbody tr:hover,
.project-models-menu .ui.selectable.table tr.active:hover {
	background: #c6e8fa !important;
}

.project-models-model-editor,
.project-models-view-editor {
	margin-left: 2em;
}

.project-models-model-editor {
	margin-bottom: 2em;
}

.project-models-view-editor {
}

.project-models-view-form {
	margin-right: 2em;
	width: 260px;
}

.project-models-view-request,
.project-models-view-response {

}

.project-models-view-request > div.header,
.project-models-view-response > div.header {
	font-size: 1em !important;
	margin-bottom: 0.5em !important;
}

.project-models-view-request > table.ui,
.project-models-view-response > table.ui {
	margin-top: 0 !important;
}
.project-models-view-request > table.ui {
	min-width: 914px;
}

.project-models-view-response {
	margin-top: 2em;
}
.project-models-view-response > table.ui {
	min-width: 674px;
}

